/home/jainayushkumar0/Documents/Courses/SelfDrivingCarNanoDegree/Projects/ProjectBehavioralCloning/CarND-Behavioral-Cloning-P3/data/
/home/jainayushkumar0/Documents/Courses/SelfDrivingCarNanoDegree/Projects/ProjectBehavioralCloning/CarND-Behavioral-Cloning-P3/data.zip